<div class="row" id="about">
  <p>
    <%# intro paragraph from the organisation JSON for more differentiation %>
    <% @intro_paragraph.each { |intro_paragraph| -%>
      <%= intro_paragraph %>
    <% } -%>
  </p>
</div>

<div class="row">
  <div class="col-12" id="contact_info">
    <%# This is where the differentiation for the business is displayed %>
    <h3>For more information contact us:</h3><br>
    <ul>
      <li>Email: <%= @office_email %></li>
      <li>Phone: <%= @office_telephone %></li>
      <li>Address: <%= @business_address %></li>
    </ul>

    Or for a more specific enquiry contact <%= @manager_profile['name'] %>, our manager:<br>
    <p>Phone: <%= @manager_profile['phone_number'] %></p><br>
    <p>Email: <%= @manager_profile['email_address'] %></p>
  </div>
</div>
